@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Inter:wght@300;400;600&family=Jim+Nightshade&family=Italianno&family=Mea+Culpa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  @apply bg-midnight text-white font-body overflow-x-hidden;
  background-image: url("/src/assets/nature-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .nav-active {
    background-color: #ffb347;
    /* sunset */
    color: #0b1026;
    /* midnight */
    box-shadow: 0 0 15px rgba(255, 179, 71, 0.6);
    transform: scale(1.1);
    font-weight: 700;
  }
}